/* apply a natural box layout model to all elements, but allowing components to change */ 
html 
{ box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }
body {
  background-color: black;
  height: auto;
}

.header {
  background-image: url("../img/progimage4.jpeg");
  padding: 40px;
  text-align: center;
  background: #85e2d0;
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}
.about-heading, .projects-heading {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 20px;
  padding-right: 100px;
}
.about-me {
  color: white;
  margin-left: 250px;
  margin-right: 100px;
font-size: 20px;

}
li {
  text-align: left;
  list-style-position: inside;
}
.column {
  padding-left: 150px ;
  border-top-color: blue;
  font-size: 20px;
  column-count: 2;
  column-width: 90px;
  color: white;
  

}