/* apply a natural box layout model to all elements, but allowing components to change */ 
html 
{ box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }
.header {
  background-image: url("../img/progimage4.jpeg")
  ;
  padding: 40px;
  text-align: center;
  background: #85e2d0;
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}